/*Classes*/
.service {
        font-family: 'Times New Roman', Times, serif;
    }
.status {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    font-weight: bold;
}
.operational {
    background-color: green;
    
}
.degraded {
    background-color: orange;
}
.outage {
    background-color: red;
}
.critical {
    background-color: red;
}
.intrusion {
    font-size: larger;
    background-color: red;
    font-style: italic;
    color: black;
       
}

/*IDs*/
#header {
    font: bold;
    font-size: larger;
    background-color: black;
    color: white;
}
#links {
    font: bold;
    font-size: medium;
    text-align: center;
}
